.moviePage{
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
}
.moviePage svg{
    font-size: 1.5rem;
    color: #f7d354;
}
.moviePage .moviecard{
    text-align: center;
}
.moviePage .movicard img,
.moviePage .movicard h2,
.moviePage .movicard p
{
    margin-bottom: 1rem;
}

.moviePage .movicard h2{
    font-size: 2rem;
}
.moviePage .movicard p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.tagLine{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.info{
    margin-bottom: 1.5rem;
}
.info h3{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.description p{
    line-height: 1.4rem;
}

.description {
    padding-bottom: 5rem;
}