#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
}

#navbar h2 a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#navbar form{
    display: flex;
    gap: 0.5rem;
}

#navbar input{
    padding: 1.2rem .8rem;
    border-radius: 4px;
    border: none;
}
#navbar form button{
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: black;
    padding: 10px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}
#navbar form button:hover{
    background-color: transparent;
    color: #c4a32c;
}